<section class="markdown">
  <h1>viewer 预览页面</h1>
  <section class="markdown">
      <p>图片预览功能。</p>
      <h2><span>何时使用</span>
      </h2>
      <p>查看大图时使用</p>
      <h2>
        维护人员
      </h2>
      <p>刘想&nbsp;&nbsp;&nbsp;liuxiang1@banggood.com</p>
  </section>
  <h2>代码演示</h2>
</section>
<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="12">
      <demo-code-box [antTitle]="'基本用法'" bgxId="base" [antCode]="DemoTypeViewerBaseCode">
          <app-viewer-demo-base demo></app-viewer-demo-base>
          <div intro>
              <p>基本调用</p>
          </div>
      </demo-code-box>
  </div>
  <div nz-col [nzSpan]="12">
    <demo-code-box [antTitle]="'其他用法'"  bgxId="content"  [antCode]="DemoTypeViewerContentCode">
        <app-viewer-demo-content demo></app-viewer-demo-content>
        <div intro>
            <p>其他用法</p>
        </div>
    </demo-code-box>
</div>
</div>
<br>
<br>
<p>
<ant-markdown [antContent]="_markdownCode"></ant-markdown>

<nz-affix class="toc-affix" [nzOffsetTop]="16">
    <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
      <nz-link nzHref="#base" nzTitle="基本用法"></nz-link>
      <nz-link nzHref="#content" nzTitle="其他用法"></nz-link>
    </nz-anchor>
  </nz-affix>

  <bgx-question></bgx-question>