.cinput{
  display: table;
  &-input{
    // width: 112px;
    width: 80px;
    cursor: pointer;
  }

  &-checkbox{
    min-width: 310px;
    max-width: 500px;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    background: #fff;
    box-shadow: 0 0 10px #D1D1D1;
    border-radius: 4px;
    padding: 12px;
  }
  &-width{
    width: 480px;
    
  }
}
.cinpput-header {
      position: relative;
 .dropdown-clearAll {
       display: inline-block;
    vertical-align: middle;
    margin-top: 50%;
    position: absolute;
    top: 50%;
    height: 34px;
    margin-top: -22px;
    right: 0px;
 }
}
::ng-deep{
  .cinput-checkbox{
    .ant-radio-checked .ant-radio-inner{
      border-color: #5a8cff;
    }
    .ant-radio-inner:after{
      background: #5a8cff;
    }
    .ant-input:focus, .ant-input:hover{
      border-color: #5a8cff;
    }
    .ant-input-group-addon{
      font-size: 12px;
    }
    .ant-checkbox-inner{
      color: #5a8cff;
      width: 14px;
      height: 14px;
    }
    .ant-checkbox-group .ant-checkbox-inner:after, .ant-tree-checkbox-inner:after{
      left: 3.57px!important;
    }
    .sale-group-input .ant-checkbox-wrapper{
      width: 33%;
      min-width: 100px;
      line-height: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      >span>span{
        font-size: 12px;
      }
    }
    .ant-pagination.mini{
      padding: 10px 20px 0 0;
      // float: right;
      >li,>div{
        font-size: 12px;
      }
    }
    .ant-checkbox-wrapper+.ant-checkbox-wrapper{
      margin-left: 0;
    }
    .cinpput-header .ant-checkbox-checked .ant-checkbox-inner:after{
      left: 3.57px;
    }
    .cinpput-header .ant-checkbox-indeterminate>.ant-checkbox-inner{
      position: relative;
      top: 0;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      background-color: #5a8cff;
      transition: .3s;
    }
    .cinpput-header .ant-checkbox-indeterminate>.ant-checkbox-inner:after{
      content: ' ';
      border: 0;
      width: 8px;
      height: 3px;
      background-color: #fff;
      opacity: 1;
    }
    .ant-checkbox-checked:after{
      border: 1px solid #5a8cff;
    }
    .ant-checkbox-checked .ant-checkbox-inner{
      background-color: #5a8cff;
      border-color: #5a8cff;
    }
  }
}

