<section class="markdown">
  <h1>SelectBox 平铺树选择</h1>
  <section class="markdown">
    <p>平铺树选择控件</p>
    <h2>
      <span>何时使用</span>
    </h2>
    <p>类似 Select 的选择控件，可选择的数据结构是一个平铺的树形结构时，可以使用 SelectBox，例如公司层级、部门人员展示及选择等等</p>
    <p>支持拼音搜索，首字母搜索</p>
    <p>SelectBox组件主要用于ERP中，用于平铺展示部门数据及选择。数组中的每个对象只能有一个子集！！！</p>
    <h2>
      维护人员
    </h2>
    <p>朱林峰&nbsp;&nbsp;&nbsp;zhulinfeng@banggood.com</p>
  </section>
  <h2>代码演示</h2>
</section>
<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="12">
    <demo-code-box [antTitle]="'默认'" bgxId="demo1" [antCode]="selectBoxBaseCode">
      <app-select-box-demo1 demo></app-select-box-demo1>
      <div intro>
        <p>选择框最大显示3个item，树选择排列4个项一列，展示框高度120px</p>
      </div>
    </demo-code-box>
  </div>
  <div nz-col [nzSpan]="12">
    <demo-code-box [antTitle]="'不带搜索功能的'" bgxId="demo2" [antCode]="selectBoxNoFilterCode">
      <app-select-box-demo2 demo></app-select-box-demo2>
      <div intro>
        <p>不带搜索功能的</p>
      </div>
    </demo-code-box>
  </div>
  <div nz-col [nzSpan]="12">
    <demo-code-box [antTitle]="'默认展开所有树选择项'" bgxId="demo3" [antCode]="selectBoxSortCode">
      <app-select-box-demo3 demo></app-select-box-demo3>
      <div intro>
        <p>设置bgxIsOpen，展开所有树选择项</p>
      </div>
    </demo-code-box>
  </div>
  <div nz-col [nzSpan]="12">
    <demo-code-box [antTitle]="'设置选择框显示个数，及树选择排列个数'" bgxId="demo4" [antCode]="selectBoxSortCode">
      <app-select-box-demo4 demo></app-select-box-demo4>
      <div intro>
        <p>设置span和maxDisplayed进行改变选择框显示个数，及树选择排列个数</p>
      </div>
    </demo-code-box>
  </div>
  <div nz-col [nzSpan]="12">
    <demo-code-box [antTitle]="'三种大小'" bgxId="demo5" [antCode]="selectBoxSizeCode">
      <app-select-box-demo5 demo></app-select-box-demo5>
      <div intro>
        <p>三种大小的选择框，当
          <code>bgxSize</code> 分别为
          <code>large</code> 和
          <code>small</code> 时，输入框高度为
          <code>40px</code> 和
          <code>24px</code> ，默认高度为
          <code>32px</code>
        </p>
      </div>
    </demo-code-box>
  </div>
  <div nz-col [nzSpan]="12">
    <demo-code-box [antTitle]="'只显示父节点'" bgxId="demo6" [antCode]="selectBoxShowParentCode">
      <app-select-box-demo6 demo></app-select-box-demo6>
      <div intro>
        <p>设置<code>bgxOnlyShowParent=true</code>，即所有子节点选中时显示父节点</p>
      </div>
    </demo-code-box>
  </div>
</div>

<ant-markdown [antContent]="_markdownCode"></ant-markdown>


<nz-affix class="toc-affix" [nzOffsetTop]="16">
  <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
    <nz-link nzHref="#demo1" nzTitle="默认"></nz-link>
    <nz-link nzHref="#demo2" nzTitle="不带搜索功能的"></nz-link>
    <nz-link nzHref="#demo3" nzTitle="默认展开所有树选择项"></nz-link>
    <nz-link nzHref="#demo4" nzTitle="设置选择框显示个数，及树选择排列个数"></nz-link>
    <nz-link nzHref="#demo5" nzTitle="三种大小"></nz-link>
    <nz-link nzHref="#demo6" nzTitle="只显示父节点"></nz-link>
  </nz-anchor>
</nz-affix>
<bgx-question></bgx-question>