<section class="markdown">
  <h1>Select 选择器</h1>
  <section class="markdown">
    <p>样式大致和ant design的官方库一样，但是增加了下拉搜索的拼音搜索，首字母搜索，文字搜索，以及分页等功能</p>
    <h2>
      <span>何时使用</span>
    </h2>
    <p>弹出一个下拉菜单给用户选择操作，用于代替原生的选择器，或者需要一个更优雅的多选器时。</p>
  </section>
  <h2>
    维护人员
  </h2>
  <p>刘想&nbsp;&nbsp;&nbsp;liuxiang1@banggood.com</p>
  <h2>代码演示</h2>
</section>
<div nz-row [nzGutter]="16">
  <div nz-col [nzLg]="12" [nzMd]="24">
    <demo-code-box [antTitle]="'基本使用'" bgxId="basic" [antCode]="DemoTypeSelectBaseCode">
      <app-select-demo-base demo></app-select-demo-base>
      <div intro>
        <p>基本使用。</p>
      </div>
    </demo-code-box>

  </div>
  <div nz-col [nzLg]="12" [nzMd]="24" style="float: right;">
    <demo-code-box [antTitle]="'三种大小'" bgxId="size" [antCode]="DemoTypeSelectSizeCode">
      <app-select-demo-size demo></app-select-demo-size>
      <div intro>
        <p>三种大小的选择框，当 nzSize 分别为 large 和 small 时，输入框高度为 40px 和 24px ，默认高度为 32px。</p>
      </div>
    </demo-code-box>
  </div>
<!-- </div>
<div nz-row [nzGutter]="8"> -->
  <div nz-col [nzSpan]="12" >
    <demo-code-box [antTitle]="'展示框远程搜索'" bgxId="search" [antCode]="DemoTypeSelectSearchCode">
      <app-select-demo-search demo></app-select-demo-search>
      <div intro>
        <p>展开后可对选项进行搜索。</p>
      </div>
    </demo-code-box>
  </div>
  <div nz-col [nzSpan]="12" style="float: right;">
    <demo-code-box [antTitle]="'搜索框远程搜索'" bgxId="list-search" [antCode]="DemoTypeSelectListSearchCode">
      <app-select-demo-list-search demo></app-select-demo-list-search>
      <div intro>
        <p>展开后可对选项进行搜索。</p>
      </div>
    </demo-code-box>
  </div>
<!-- </div>
<div nz-row [nzGutter]="8"> -->
  <div nz-col [nzSpan]="12">
    <demo-code-box [antTitle]="'多选'" bgxId="multiple" [antCode]="DemoTypeSelectMultipleCode">
      <app-select-demo-multiple demo></app-select-demo-multiple>
      <div intro>
        <p>多选，从已有条目中选择，例子1中通过 bgxMaxMultipleCount 限制了最多选择4个选项,例子2中通过 bgxTextShow 选中过多不以文字展示</p>
      </div>
    </demo-code-box>
  </div>
  <div nz-col [nzSpan]="12">
    <demo-code-box [antTitle]="'自定义下拉菜单内容'" bgxId="custom" [antCode]="DemoTypeSelectCustomCode">
      <app-select-demo-custom demo></app-select-demo-custom>
      <div intro>
        <p>通过 bgxCustomContent 自定义 bgx-option 显示的内容。</p>
      </div>
    </demo-code-box>
  </div>
<!-- </div>

<div nz-row [nzGutter]="8"> -->
    <div nz-col [nzSpan]="12">
      <demo-code-box [antTitle]="'自定义搜索条件'" bgxId="custom-search" [antCode]="DemoTypeSelectCustomSearchCode">
        <app-select-demo-custom-search demo></app-select-demo-custom-search>
        <div intro>
          <p>自定义下拉搜索的条件。</p>
        </div>
      </demo-code-box>
    </div>
  </div>
<ant-markdown [antContent]="_markdownCode"></ant-markdown>


<nz-affix class="toc-affix" [nzOffsetTop]="16">
  <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
    <nz-link nzHref="#basic" nzTitle="基本使用"></nz-link>
    <nz-link nzHref="#size" nzTitle="三种大小"></nz-link>
    <nz-link nzHref="#search" nzTitle="展示框远程搜索"></nz-link>
    <nz-link nzHref="#list-search" nzTitle="搜索框远程搜索"></nz-link>
    <nz-link nzHref="#multiple" nzTitle="多选"></nz-link>
    <nz-link nzHref="#custom" nzTitle="自定义下拉菜单内容"></nz-link>
    <nz-link nzHref="#custom-search" nzTitle="自定义搜索条件"></nz-link>
  </nz-anchor>
</nz-affix>


<bgx-question></bgx-question> 