<section class="markdown">
  <h1>Editor 富文本编辑器</h1>
  <section class="markdown">
    <p>所见即所得富文本web编辑器，具有轻量，可定制，注重用户体验等特点，开源基于MIT协议，允许自由使用和自定义配置</p>
  </section>
  <h2>
    维护人员
  </h2>
  <p>刘想&nbsp;&nbsp;&nbsp;liuxiang1@banggood.com</p>
  <h2>代码演示</h2>
</section>
<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="24">
    <demo-code-box [antTitle]="'基本使用'" bgxId="default" [antCode]="editorDefaultCode">
      <app-editor-default demo></app-editor-default>
      <div intro>
        <p>基本使用</p>
      </div>
    </demo-code-box>
  </div>
  <div nz-col [nzSpan]="24">
    <demo-code-box [antTitle]="'用于表单提交'"  bgxId="form" [antCode]="editorForFormCode">
      <app-editor-form demo></app-editor-form>
      <div intro>
        <p>用于表单提交</p>
      </div>
    </demo-code-box>
  </div>
  <div nz-col [nzSpan]="24">
    <demo-code-box [antTitle]="'自定义toolbar'" bgxId="custom" [antCode]="editorCustomCode">
      <app-editor-custom demo></app-editor-custom>
      <div intro>
        <p>自定义toolbar</p>
      </div>
    </demo-code-box>
  </div>
</div>

<ant-markdown [antContent]="_markdownCode"></ant-markdown>
<nz-affix class="toc-affix" [nzOffsetTop]="16">
  <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
    <nz-link nzHref="#default" nzTitle="基本使用"></nz-link>
    <nz-link nzHref="#form" nzTitle="用于表单提交"></nz-link>
    <nz-link nzHref="#custom" nzTitle="自定义toolbar"></nz-link>

  </nz-anchor>
</nz-affix>
