<div class="cinput">

  <nz-input-group [nzAddOnAfter]="total + '项'">
    <input type="text" nz-input (click)="focus()" [placeholder]="_placeholder" class="cinput-input" readonly [value]="_inputValue" #cinputInput>
  </nz-input-group>
  <ng-template #cinputCheckbox>
    <div class="cinput-checkbox">
      <div>
        <div style="border-bottom: 1px solid rgb(233, 233, 233); padding-bottom: 12px;" class="flex-l">
          <nz-input-group nzSearch [nzSuffix]="suffixIconButton" class="search-input">
            <input type="text" nz-input [(ngModel)]="searchCondition" (focus)="searchFoucs($event)" (blur)="searchBlur()" (ngModelChange)="searchChange()"
              class="form-control input-sm" placeholder="请输入搜索条件" #input   (keyup.enter)="searchMonitorList(input.value)">
          </nz-input-group>
          <ng-template #suffixIconButton>
            <i [class]="suffixIcon" style="padding-left: 5px;padding-right: 10px;" (click)="triggerSearchOrClear()"></i>
          </ng-template>
          <div>
            <button class="dropdown-clearAll" nz-button nzType="default" style="border: 1px solid #dddddd" (click)="clearAll()">清除</button>
          </div>
        </div>
        <br>
        <nz-checkbox-group class="cinput-checkbox-item" [nzDisabled]="_disabled" [(ngModel)]="_searchOption" (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>
      </div>
      <div >
        <nz-pagination  class="dropdown-pagination"  [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzTotal]="totalNum" (nzPageIndexChange)="pageIndexChange($event)" nzShowQuickJumper nzHideOnSinglePage="true" [nzSize]="'small'"></nz-pagination>
      </div>
    </div>
  </ng-template>
</div>
