<h3>多选（展示框高度为120px）</h3>
<form novalidate>
  <bgx-tree-select name="multipleSelect" [bgxItems]="items" bgxIdField="id" bgxTextField="name" bgxChildrenField="children" [bgxMultiple]="true"
    [(ngModel)]="multipleSelected" bgxPlaceholder="请选择国家" required=true [bgxAllowParentSelection]="allowParentSelection" #multipleSelect="ngModel"
    [bgxFilterPlaceholder]="filterPlaceholder" [maxVisibleItemCount]="maxDisplayed" [bgxAllowFilter]="showFilter" [bgxDisabled]="disabled">
  </bgx-tree-select>
  <div *ngIf="multipleSelect.errors && (multipleSelect.dirty || multipleSelect.touched)" class="alert alert-danger">
    <div [hidden]="!multipleSelect.errors.required">Multiple select is required</div>
  </div>
</form>
<div class="col-md-12">
  <li *ngFor="let itm of multipleSelected">{{itm | json}}</li>
</div>

<h3>单选</h3>
<form novalidate>
  <bgx-tree-select name="simpleSelect" [bgxItems]="sigleSelect" bgxIdField="id" bgxTextField="name" bgxChildrenField="children" [bgxMultiple]="false"
    [(ngModel)]="simpleSelected" required=true [bgxAllowParentSelection]="allowParentSelection" #simpleSelect="ngModel" [bgxFilterPlaceholder]="filterPlaceholder"
    [maxVisibleItemCount]="maxDisplayed" [bgxAllowFilter]="showFilter" [bgxDisabled]="disabled" [width]="400">
  </bgx-tree-select>
</form>
<div class="col-md-12">
  {{simpleSelected | json}}
</div>

<h3>不带搜索功能</h3>
<form novalidate>
  <bgx-tree-select name="noFilterSelect" [bgxItems]="sigleSelect" bgxIdField="id" bgxTextField="name" bgxChildrenField="children" [bgxMultiple]="false"
    [(ngModel)]="noFilterSelected" required=true [bgxAllowParentSelection]="allowParentSelection" #noFilterSelect="ngModel" [maxVisibleItemCount]="maxDisplayed"
    [bgxAllowFilter]="showFilter" [bgxDisabled]="disabled">
  </bgx-tree-select>
</form>
<div class="col-md-12">
  {{noFilterSelected | json}}
</div>
