<section class="markdown">
  <h1>Message 全局提示</h1>
  <section class="markdown">
    <p>样式以及部分功能同ant design的官方库一样，但是增加了关闭按钮</p>
    <h2>
      <span>何时使用</span>
    </h2>
    <p>可提供成功、警告和错误等反馈信息。</p>
    <p>顶部居中显示并自动消失，是一种不打断用户操作的轻量级提示方式。</p>
  </section>
  <section class="markdown">
    <h2>
      <span>如何使用</span>
    </h2>
      <p [innerHTML]="'如果要修改全局默认配置，你可以设置提供商 BGX_MESSAGE_CONFIG 的值来修改.(如：在你的模块的providers中加入 { provide: BGX_MESSAGE_CONFIG, useValue: { bgxDuration:
        3000 }}，BGX_MESSAGE_CONFIG 可以从 sale-component 中导入)'"></p>
    <p>默认全局配置为:</p>
    <pre style="font-size:12px;" [innerHTML]="'
      {
        bgxDuration             : 2000,
        bgxMaxStack             : 7,
        bgxPauseOnHover         : true,
        bgxAnimate              : true,
        bgxClosable             : true
      }'"> </pre>
      <h2>
        维护人员
      </h2>
      <p>刘想&nbsp;&nbsp;&nbsp;liuxiang1@banggood.com</p>
  </section>
  <h2>代码演示</h2>
</section>

<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="12">
    <demo-code-box [antTitle]="'普通提示'" bgxId="base" [antCode]="DemoTypeMessageBaseCode">
      <app-message-demo-base demo></app-message-demo-base>
      <div intro>
        <p>信息提醒反馈。</p>
      </div>
    </demo-code-box>

  </div>
  <div nz-col [nzSpan]="12">
    <demo-code-box [antTitle]="'其他提示类型'" bgxId="other" [antCode]="DemoTypeMessageOtherCode">
      <app-message-demo-other demo></app-message-demo-other>
      <div intro>
          <p>包括成功、失败、警告。</p>
        </div>
    </demo-code-box>
  </div>
</div>
<div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="12">
      <demo-code-box [antTitle]="'修改延时'" bgxId="duration" [antCode]="DemoTypeMessageDurationCode">
        <app-message-demo-duration demo></app-message-demo-duration>
        <div intro>
          <p>自定义时长 10s ，默认时长为  3s。</p>
        </div>
      </demo-code-box>
    </div>
    <div nz-col [nzSpan]="12">
      <demo-code-box [antTitle]="'加载中移除关闭操作'" bgxId="loading" [antCode]="DemoTypeMessageLoadingCode">
        <app-message-demo-loading demo></app-message-demo-loading>
        <div intro>
            <p>进行全局 loading移除关闭按钮，异步自行移除。</p>
          </div>
      </demo-code-box>
    </div>
  </div>
<ant-markdown [antContent]="_markdownCode"></ant-markdown>
<nz-affix class="toc-affix" [nzOffsetTop]="16">
  <nz-anchor [nzAffix]="false" nzShowInkInFixed (nzClick)="goLink($event)">
    <nz-link nzHref="#base" nzTitle="普通提示"></nz-link>
    <nz-link nzHref="#other" nzTitle="其他提示类型"></nz-link>
    <nz-link nzHref="#duration" nzTitle="修改延时"></nz-link>
    <nz-link nzHref="#loading" nzTitle="加载中移除关闭操作"></nz-link>
  </nz-anchor>
</nz-affix>

<bgx-question></bgx-question>
