<h1>sale-component组件库介绍</h1>
<section class="markdown">
    <p>此UI库用于销售平台topsale的自主开发组件库</p>
    <p>
        sale-component是基于ant-design of angular组件库和banggood架构组所搭建的bgx-legion组件为依赖，开发出适合于销售平台topsale的业务组件
    </p>
    <p>
        如在使用过程中遇到什么问题请及时反馈。
    </p>
    <h2><span>何时使用</span>
    </h2>
    <p>销售平台专属组件调用时</p>
</section>

<section class="markdown">
    <h2>BgxLegion使用环境</h2>
    <p>
        基于蚂蚁金服组件和公司内部架构组件的公用性，并不能提供特别适合topsale系统的某些业务场景，故开发出专属于topsale场景的组件依赖，例如sale-tree ， sale-searchtip，下拉筛选条件并支持拼音搜索。
    </p>

</section>