<h1>BgxLegion组件库介绍</h1>
<section class="markdown">
    <p>此UI库用于开发自有组件，以及引入公共组件，由架构组统一规划基础组件</p>
    <p>
        这个项目最初的计划是移植ant design的react组件库； 在开发的过程中，随着ant design的官方组件库的发布，ant design的组件并不需要我们进行开发了； 因此这个项目改成了开发ERP内使用的一些通用组件，并且统一管理第三方组件库，并且对第三方组件进行ant design的风格的改造。
    </p>
    <p>
        之前开发的组件意义仍然存在，优先使用自有组件发现的bug能及时修复；或者使用ant design组件库发现有BUG，或者无法满足业务需求，也可以重新进行开发，以同样的接口输出，替换有BUG的组件，业务代码也无需更改；
    </p>
    <h2><span>何时使用</span>
    </h2>
    <p>有一些ant design组件不满足业务需求的时候，可以在这个UI组件中寻找，比如支持拼音搜索的下拉选择框</p>
</section>

<section class="markdown">
    <h2>BgxLegion需求调研报告</h2>
    <p>
        由于公司的业务线项目太多，各种项目的前端都无统一的标准，存在各自为政的情况，各自引入不同的第三方插件，设计风格也无法统一
    </p>

    <p>如果出现了bug也是难以进行修复的，因为并没有统一的对第三方组件进行管理；假如第三方组件库升级了，也很难对线上项目所有的组件进行升级。
    </p>
    <p>
        调查原先ERP系统的代码发现光是jquery就使用了4个版本，更别说各种第三方插件、各种版本，这样给维护带来很大的麻烦，特别是对大项目影响更甚。

    </p>
    <p>鉴于上面的一些问题，将来在新开发的项目中对基础的UI组件统一的规划是有必要的：
    </p>
    <p>
        1、统一风格：选用ant design作为我们的系统风格，开发的新的组件或者引入的第三放组件都需要统一修改成ant design的风格；

    </p>
    <p>2、统一的版本控制：当基础组件无法满足业务需求，或者有新的功能升级，可以统一升级所有业务线的功能，而无需从各个业务线项目修改；
    </p>
    <p>3、统一的调用方式：自开发的组件能保证调用方式的统一；第三方组件可以自定义，包括样式、调用接口，并且给出统一的调用方式；
    </p>
    <p>4、统一修改bug的入口，无需影响各个业务线：基础组件如果出现BUG了，只需要在一个地方修改，升级版本号就可以完成对所有业务线的组件进行的升级
    </p>

    <p>
        因此才有了BgxLegion这样的组件库，对业务项目调用的组件进行统一管理规划，包括开发自有组件，引入第三方组件，实现对各个业务线调用的组件的风格控制、版本控制，并提供相同的调用体验。

    </p>
</section>