<div class="cinput">

  <nz-input-group [nzAddOnAfter]="total + '项'">
    <span  (click)="focus()">
        <input type="text" nz-input [placeholder]="_placeholder" class="cinput-input" readonly [value]="_inputValue"
        #cinputInput>
    </span>
    
  </nz-input-group>

  <ng-template #cinputCheckbox>
    <div class="cinput-checkbox">
      <div *ngFor="let item of _options; let i = index">
        <div class="cinpput-header" style="border-bottom: 1px solid rgb(233, 233, 233); padding-bottom: 12px;font-size:12px;">
          <label nz-checkbox [(ngModel)]="allChecked[i]" [nzDisabled]="_disabled" (ngModelChange)="updateAllChecked(i)" [nzIndeterminate]="indeterminate[i]"
            style="font-weight: bold;">
            {{item.title || '全部'}}
          </label>
          <button class="dropdown-clearAll" nz-button nzType="default" style="border: 1px solid #dddddd;float:right;" (click)="clearAll(i)">清除</button>
        </div>
        <br>
        <nz-checkbox-group class="cinput-checkbox-item" [nzDisabled]="_disabled" [(ngModel)]="item.option" (ngModelChange)="updateSingleChecked(i)"></nz-checkbox-group>
      </div>
    </div>
  </ng-template>
</div>